project/target
project/project
.metals
.bloop
.vscode
*.class
*.sjsr

project/.bloop

.sbt

modules/core/target

root/target
target

.bsp

*.log

project/metals.sbt


node_modules
dist
dist-ssr
*.local
out
*.wasm
