#content {
  margin:auto;
  padding: 30px;
  font-size: 20px;
  font-family: myFirstFont
}

.hlts-container {
  background: rgb(31,31,40);
  color: white;
  padding: 25px;
  font-family: myFirstFont;
}

.hlts-function {
  color: rgb(121, 158, 218)
}



.hlts-keyword, .hlts-keyword-function, .hlts-repeat, .hlts-conditional{
  color: rgb(151,128,186);
}

.hlts-storageclass{
  color: rgb(151,128,186);
  text-decoration: underline;
}
.hlts-type-qualifier{
  color: rgb(151,128,186);
  text-decoration: underline;
}



.hlts-punctuation-bracket {
 color: rgb(154, 172, 203);
}

.hlts-punctuation-special {
 color: rgb(127, 180, 202);
}


.hlts-type {
  color: rgb(114,169,159);
}

.hlts-string {
  color: rgb(152,187, 108);
}

.hlts-function-call, .hlts-method-call {
  color: rgb(126, 156, 216)
}

.hlts-number {
  color: pink;
}

.hlts-operator {
  color: rgb(196, 161, 107);
}

.hlts-parameter {
 color: rgb(184, 181, 209)

}

.hlts-include {
  color: rgb(228, 104, 118);
}

.hlts-namespace {
  color: rgb(122, 168, 159);
}

.hlts-property {
  color: rgb(234, 193, 128)
}

@font-face {
  font-family: myFirstFont;
  src: url(/FiraCode-Regular.ttf);
}

