#content {
  margin:auto;
  width: 100%;
  padding: 30px;
  border: 1px solid black;
  font-size: 12;
}

code pre {
  background: #000022;
  color: white;
  padding: 8px;
}

code pre .function {
  color: cyan;
}

code pre .variable {
  color: yellow;
}


code pre .keyword, .keyword-function {
  color: violet;
  font-style: italic;
}

code pre .type {
  color: lightgreen;
}

code pre .string {
  color: orange;
}

code pre .function-call {
  color: red;
}


code pre .number {
  color: pink;
}

code pre .operator {
  font-weight: bold;
}

code pre .parameter {
 color: #e9b8f7

}

code pre .include {
color: violet;
font-weight: bold;
}

code pre .namespace {
color: green;
}
